<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="cadenaConexion" connectionString="Data Source = WINDOWS-0H5NFTF; Initial Catalog = FarmaciaGilmaryWeb; Integrated Security = SSPI;" />-->
    <add name="cadenaConexion" connectionString="workstation id=FarmaciaGilmaryWeb.mssql.somee.com;packet size=4096;user id=FarmaciaGilmary_SQLLogin_1;pwd=4bn37l6wn6;data source=FarmaciaGilmaryWeb.mssql.somee.com;persist security info=False;initial catalog=FarmaciaGilmaryWeb"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
</configuration>
