body {
}

#lineaLista 
{
    background-color: red;
    margin-top: 2px;
    text-align: left;
    font-size: xx-large;
    color: #FFFFFF;
}

Lista{
text-align: left;
width: 960px;
margin-top: 5px;

}

#lateralLista{
width: 180px;  /*Este será el ancho que tendrá tu columna*/
background-color: white;  /*Aquí pon el color del fondo que quieras para este lateral*/
float:left; /*Aqui determinas de lado quieres quede esta "columna" */

}

#principalLista{
margin-left:190px; /*Este margen hace que no se encime el contenido en tu menúlateral, es     importante que pongas un pocos pixeles más que el ancho  de tu columna lateral*/
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 25%, rgba(246,246,246,1) 88%, rgba(200,251,242,1) 92%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(25%,rgba(255,255,255,1)), color-stop(88%,rgba(246,246,246,1)), color-stop(92%,rgba(200,251,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 25%,rgba(246,246,246,1) 88%,rgba(200,251,242,1) 92%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 25%,rgba(246,246,246,1) 88%,rgba(200,251,242,1) 92%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 25%,rgba(246,246,246,1) 88%,rgba(200,251,242,1) 92%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 25%,rgba(246,246,246,1) 88%,rgba(200,251,242,1) 92%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c8fbf2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
}

#GridView1 { 

    margin-left: 5px;
} 